@import '/src/styles/utils/colors.module.scss';

.cardRegister {
    min-width: 460px;
    min-height: 260px;
    width: 100%;
    padding: 24px;
    margin-bottom: 8px;
    margin-top: 200px;
    background-color: $primary;
}