@import '/src/styles/utils/colors.module.scss';

.cardRegister {
    min-width: 80px;
    min-height: 80px;
    width: 100%;
    padding: 24px;
    margin-bottom: 50px;
    margin-top: 20px;
    background-color: $primary;
}