$primary: #041324;
$primary-contrast: #fff;

$secondary: #eaedf0;
$secondary-contrast: #000;

$success: #4caf50;
$success-contrast: #fff;

$error: #f44336;
$error-contrast: #fff;

$font-color-primary: #ddd3d3;
$font-color-secundary: #171718;

:export {
    primary: $primary;
    primary-contrast: $primary-contrast;

    secondary: $secondary;
    secondary-contrast: $secondary-contrast;

    success: $success;
    success-contrast: $success-contrast;

    error: $error;
    error-contrast: $error-contrast;

    font-color-primary: $font-color-primary;
    font-color-secundary: $font-color-secundary;
}